body {
	background-color: black;
}
h1, h2, h3, h4, h5, p {
	font-family:  Futura,sans-serif;
	color: lightgrey;
}

h6 {
	font-family:  Futura,sans-serif;
	color:darkviolet;
	font-size:  120%;
}

html {
	box-sizing: border-box;
}

*, *:before, *after {
	box-sizing: inherit;
}

.div-2 { 
	background-color: black;
	border:  3px solid white;
	width:  80vmax; 
	padding-top:  30px;
	padding-bottom:  50px;
	margin:  auto; 
}

.div-25 {
	width: 60vmax;
}

.div-3 {
	background-color: black;
	margin: auto;
	width:  80vmax;
	height:  400px;
	border:  3px solid white;
	padding:  50px;
}

a {
	font-family:  Futura;
	text-decoration:  none;
	font-size: 120%;
	margin:  20px 35px;
}


.div-4 {
	background-color: black;
	width:  500px;
	padding-top:  30px;
	padding-bottom: 30px;
	border:  3px solid white;
	float:  left;
	margin: auto 100px;
}


.pictures {
	background-color: black;
	width:  80vmax;
	margin: 30px auto;
}

.pictures:after {
	content:  "";
	display:  table;
	clear:  both;
}
/*This is used to stop the float command*/


img {
	border-radius:  50px;
}


